* {
	font-family: Arial;
	padding-top: 0px;
}

#Topbar {
	background-color: #2ecc71;
	padding-top: 1px;
}

header {
		margin: 0;
		padding: 0;
		text-align: center;
}
footer {
	background-color: #2ecc71;
	text-align: center;
	font-size: 12px;
}

body {
	width: 100%;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}